body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1400px;
  font-family: "Sansita", sans-serif, sans-serif;
  font-weight: 300;
  font-size: 62.5%;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05);
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 5px 0;
}

.wrapper {
  display: -ms-grid;
  display: grid;
}

@-webkit-keyframes slideOn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes slideOn {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 1;
  }
  98% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  90% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(/img/h17.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/h17.png);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-nav .logo {
  height: 10rem;
  width: auto;
  margin: 3rem;
  font-size: 5rem;
}

.header-nav ul {
  z-index: 4;
  list-style: none;
  font-size: 3.5rem;
  font-weight: 400;
}

.header-nav ul li {
  display: inline-block;
  padding: .5rem 1.5rem;
  margin-left: 3.5rem;
  background: #333;
}

.header-nav ul li:hover {
  border-bottom: 5px solid #b6a393;
}

.header-nav ul a {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  color: #f0e9c1df;
}

.header-nav ul a:link, .header-nav ul a:visited {
  padding: .8rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.header-nav ul a:hover, .header-nav ul a:active {
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

.header-nav--burger .fas {
  display: none;
}

.header-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 3rem;
  padding: 2rem;
  color: #fff169;
  margin-top: 8rem;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.header-text span {
  color: #cbe86b;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
}

.header-text--title {
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 5rem;
  padding: 2rem;
  border-bottom: 0.5rem solid #e06c0d;
}

.header-text--invitation {
  font-size: 2.5rem;
  width: 30vw;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #f2e9e1;
  font-weight: 400;
  letter-spacing: .2rem;
}

.header-text p:last-child {
  letter-spacing: .3rem;
}

.header-bee img {
  position: absolute;
  top: 85%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 6rem;
  width: auto;
  background-color: transparent;
  -webkit-animation: beeAnimation 1s ease-in-out infinite;
          animation: beeAnimation 1s ease-in-out infinite;
}

@-webkit-keyframes beeAnimation {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes beeAnimation {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.contact {
  background: #333;
  padding-top: 15rem;
  font-size: 2rem;
}

.contact #contact-form {
  width: 45%;
  margin-left: 3rem;
  background: #333;
  color: #f2e9e1;
}

.contact label {
  padding: 1.5rem 0;
  display: block;
}

.contact input[type="text"],
.contact input[type="email"],
.contact select,
.contact textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 3px;
  border: 2px solid #e06c0d;
}

.contact textarea {
  height: 100px;
}

.contact input[type="checkbox"] {
  margin: 10px 5px 10px 0;
}

.contact *:focus {
  outline: none;
}

.about {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr (minmax(20rem, min-content))[5] 1fr;
      grid-template-columns: 1fr repeat(5, minmax(20rem, -webkit-min-content)) 1fr;
      grid-template-columns: 1fr repeat(5, minmax(20rem, min-content)) 1fr;
  -ms-grid-rows: (minmax(10rem, min-content))[12];
      grid-template-rows: repeat(12, minmax(10rem, -webkit-min-content));
      grid-template-rows: repeat(12, minmax(10rem, min-content));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(/img/a8.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/a8.png);
}

.about .hexagon {
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(224, 108, 13, 0.8)), to(rgba(249, 161, 22, 0.8)));
  background: linear-gradient(to right bottom, rgba(224, 108, 13, 0.8), rgba(249, 161, 22, 0.8));
  width: 35vw;
  height: 35vw;
  font-size: 3rem;
  z-index: 10;
}

.about .hexagon img {
  width: auto;
  height: 100%;
  background-size: cover;
  background-origin: center;
}

.about .hexagon-about-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
  background: #f2e9e1;
}

.about .hexagon-about-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.about .hexagon-about-3 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.about .hexagon-about-4 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.about .hexagon-about-5 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

.about .hexagon-about-6 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

.about .hexagon h1 {
  position: absolute;
  top: 7rem;
  left: 12rem;
  color: #fff169;
}

.about .hexagon p {
  position: absolute;
  font-size: 2rem;
  color: #f2e9e1;
  top: 15rem;
  left: 5rem;
}

.gallery {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: 1fr (minmax(10rem, min-content))[8] 1fr;
      grid-template-columns: 1fr repeat(8, minmax(10rem, -webkit-min-content)) 1fr;
      grid-template-columns: 1fr repeat(8, minmax(10rem, min-content)) 1fr;
  -ms-grid-rows: (minmax(5rem, min-content))[12];
      grid-template-rows: repeat(12, minmax(5rem, -webkit-min-content));
      grid-template-rows: repeat(12, minmax(5rem, min-content));
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(/img/g2.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/g2.png);
}

.gallery .overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 3;
}

.gallery .overlay .close {
  background: none;
  color: #f2e9e1;
  border: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.gallery .overlay.open {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery .overlay-inner {
  background: #e06c0d;
  width: 700px;
  padding: 20px;
}

.gallery .overlay img {
  width: 100%;
}

.gallery .hexagon {
  position: relative;
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(224, 108, 13, 0.8)), to(rgba(249, 161, 22, 0.8)));
  background: linear-gradient(to right bottom, rgba(224, 108, 13, 0.8), rgba(249, 161, 22, 0.8));
  width: 20vw;
  height: 20vw;
  font-size: 3rem;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.gallery .hexagon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
}

.gallery .hexagon:hover {
  -webkit-animation: rotate .3s ease;
          animation: rotate .3s ease;
  z-index: 2;
}

.gallery .hexagon-gallery-1 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.gallery .hexagon-gallery-2 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.gallery .hexagon-gallery-3 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.gallery .hexagon-gallery-4 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 2;
  -ms-grid-row-span: 4;
  grid-row: 2/6;
}

.gallery .hexagon-gallery-5 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.gallery .hexagon-gallery-6 {
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-column: 5/7;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.gallery .hexagon-gallery-7 {
  -ms-grid-column: 7;
  -ms-grid-column-span: 2;
  grid-column: 7/9;
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  grid-row: 5/9;
}

.gallery .hexagon-gallery-8 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

.gallery .hexagon-gallery-9 {
  -ms-grid-column: 4;
  -ms-grid-column-span: 2;
  grid-column: 4/6;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

.gallery .hexagon-gallery-10 {
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-column: 6/8;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

.gallery .hexagon-gallery-11 {
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-column: 8/10;
  -ms-grid-row: 8;
  -ms-grid-row-span: 4;
  grid-row: 8/12;
}

.offer {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  background: #333;
  font-size: 3rem;
  color: #f2e9e1;
}

.offer th {
  background: #f0e9c1df;
  color: #333;
}

.offer table,
.offer th,
.offer td {
  padding: 1rem;
  border: 3px solid #e06c0d;
  border-collapse: collapse;
  padding: 1.5rem 3rem;
}

.offer .table-first {
  margin: 5rem;
}

.offer .table-second {
  margin: 5rem;
}

.offer .table-third {
  margin: 5rem;
  text-align: center;
}

.tips {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(/img/t1.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(/img/t1.png);
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tips-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tips-box .header {
  font-size: 5rem;
  padding: 2rem;
  color: #f9a116;
  letter-spacing: .3rem;
}

.tips-box span.underlain {
  width: 15rem;
  border-bottom: 0.5rem solid #e06c0d;
}

.tips-box .slider {
  aling-items: center;
}

.tips-box .slider .slide {
  display: none;
  margin: 0 auto;
  opacity: 0;
  height: 25rem;
  width: 60vw;
  -webkit-animation: slideOn 5s ease-in forwards;
          animation: slideOn 5s ease-in forwards;
}

.tips-box .slider .slide .quote {
  padding: 5rem;
  font-size: 2.5rem;
  text-align: center;
  line-height: 3rem;
  letter-spacing: .2rem;
  color: #f2e9e1;
}

.tips-box .slider .active-slide {
  display: block;
}

.tips-box .slide-dots {
  width: 100%;
  height: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.tips-box .slide-dots span {
  display: inline-block;
  background: #e06c0d;
  margin: 0 10px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}

.tips-box .slide-dots .active-dots {
  background: #fff169;
}

.tips__movie {
  position: relative;
  background-image: url(/img/img17.jpg);
  background-size: cover;
  margin: 5rem 4rem;
  width: 60vw;
  min-height: 50rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0.5rem solid #f9a116;
}

.tips__movie i.fas {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 8rem;
  color: #f9a116;
}

.about .hexagon, .gallery .hexagon {
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
/*# sourceMappingURL=main.css.map */