//COLOR VARIABLES
$color-black:#1c140d;
$color-light-black:#888;
$color-grey:#333;
$color-white: #f2e9e1;
$color-olive: #cbe86b;
$color-cream-2: #f0e9c1df;
$color-orange: #f9a116; //rgba(249, 161, 27, 1)
$color-dark-orange: #e06c0d; //(238,118,0) 
$color-dark-orange-2: #e46b1bbb; //(238,118,0) 
$color-dark-orange-3:#723e08; //(238,118,0) 
$color-cream: #fff169; //rgba(255, 241, 105, 1)
$color-dark-green: #1b5e20;
$color-light-green:#c8ebc9;
$color-brown: rgb(182, 163, 147);
$color-brown-2: rgb(56, 34, 16);
// FONT VARIABLES
$font-primary: 'Sansita',
sans-serif;
// font-family: 'Londrina Solid', cursive;


// RESPONSIVE  BREAKPOINTS


$bp-biggest: 100em; // 1600px
$bp-big: 90em; // 1440px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px
$bp-small: 37.5em; //600px
$bp-smallest: 27.5em; //440px


body {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/szablon3.png);
    background-repeat: no-repeat;
    background-size: cover;
    // position: relative;

    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

html {
    box-sizing: border-box;
    // max-width: 1400px;
    font-family: $font-primary, sans-serif;
    font-weight: 400;
    font-size: 62.5%; //10px
    color: var(--black); // max-width: 1400px;
    // margin: 0 auto;
    text-shadow: 0 2px 0 rgba(0, 0, 0, 0.05); // background: #333333;
    @media only screen and (max-width: $bp-largest) {
        font-size: 60%; //1em= 9.6px
    }

    @media only screen and (max-width: $bp-large) {
        font-size: 58%; //1em= 9.28px
    }

    @media only screen and (max-width: $bp-medium) {
        font-size: 56%; //1em= 8,96px
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 52%; // 1em = 8,32px
    }

    @media only screen and (max-width: $bp-smallest) {
        font-size: 50%; // 1em = 8px
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}

.wrapper {
    display: grid;
    // background-color: $color-white;
}

// Animacja do sekcji tips
@keyframes slideOn {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 1
    }

    98% {
        opacity: 1
    }

    100% {
        opacity: 0;
    }
}

//animacja do sekcji gallery
@keyframes rotate {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.2);
    }

    50% {
        transform: scale(1);
    }

    90% {
        transform: scale(.8);
    }

    100% {
        transform: scale(1);
    }
}


.m-top {
    margin-top: 10rem;
}