.footer {
    // background: #333;
    color: $color-light-black;
   
   

    &-nav {
        display: flex;        
        justify-content: flex-end;
        align-content: center;
        list-style: none;
        margin: 0;
        padding-right: 5rem;
        border-top:  2px solid rgba(0, 0, 0, 0.1);
        
li  {
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
   
}
a {
    display: block;
    text-decoration: none;
    color: $color-orange;
    transition: color .2s ease;
    &:hover {
    color: $color-light-black;
    }
}

    }
    p {
        font-size: 1.5rem;
       
        text-align: center;
        padding: 3rem;
        margin: 0;
        @media only screen and (max-width: $bp-small) {                
            text-align: left;
            }
    }
    img.bee-grey {
        width: 3rem;
       
        &:hover {
            animation: beeAnimation 1.3s ease-in-out infinite;
        }
    }

}