header {
    background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(/img/h17.png);

    background-size: cover;
    background-position: center;
    height: 100vh;

}

.header {
    &-nav {
        display: flex;
        justify-content: space-between;


        .logo {
            height: 10rem;
            width: auto;
            margin: 3rem;
            font-size: 5rem;

        }

        ul {
            z-index: 4;
            list-style: none;
            // text-shadow: 0 2px 2px rgba(0, 0, 0, .8);


            li {
                display: inline-block;
                padding: .5rem 1.5rem;
                margin-left: 3.5rem;
                background: #333;

                &:hover {
                    border-bottom: 5px solid $color-brown;
                }




            }

            font-size: 3.5rem;
            font-weight: 400;

            a {
                transition: all .3s ease-in-out;
                color: $color-cream-2;


                &:link,
                &:visited {
                    padding: .8rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: .3rem;
                }

                &:hover,
                &:active {



                    transform: translateY(15px);
                }
            }
        }

        &--burger {
            .fas {
                display: none;
            }
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        font-size: 3rem;
        padding: 2rem;
        color: $color-cream; // 
        margin-top: 8rem;
        text-shadow: 0 0 4px rgba(0, 0, 0, .8);

        span {
            color: $color-olive;
            text-shadow: 0 0 4px rgba(0, 0, 0, .8);
        }

        &--title {
            text-shadow: 0 0 4px rgba(0, 0, 0, .8);
            align-self: center;
            font-size: 5rem;
            padding: 2rem;
            border-bottom: .5rem solid $color-dark-orange;
            ;
            // background: rgba(255, 255, 255, .2);
        }

        &--invitation {
            font-size: 2.5rem;
            width: 30vw;
            text-align: center;
            align-self: center;
            color: $color-white;
            font-weight: 400;
            letter-spacing: .2rem;
            // font-style: italic;
            // text-shadow: 0 0 8px rgba(0, 0, 0, .8);
        }

        // background: rgba(51, 51, 51, .5);
        // background: rgba(255, 255, 255, .2);
        // background: rgba(238, 118, 0, 0);
        // box-shadow: 0 5px 5px rgba(255, 255, 255, 1);


        p:last-child {
            letter-spacing: .3rem;
        }
    }


    &-bee {
        img {
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 8rem;
            width: auto;
            background-color: transparent;
            animation: beeAnimation 1s ease-in-out infinite;
        }
    }
}

@keyframes beeAnimation {
    0% {
        transform: translateY(-10px)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-10px)
    }
}