header {   
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    
h1 {
    display: flex;
    justify-content: center;
    color: $color-cream;

    text-shadow: 0 0 4px rgba(0, 0, 0, .8);   
    font-size: 5rem;
    padding: 4rem;
    border-bottom: .5rem solid $color-dark-orange;
   
    span {
        margin-left: 3rem;
        color: $color-olive;
        text-shadow: 0 0 4px rgba(0, 0, 0, .8);
    }
}
}

.header {
    &-nav {
        display: flex;   
        position: relative;//for sticky nav 
        top:0;//for sticky nav 
        z-index:200;     
        margin: 0;    
        background: #333;  
        
        justify-content: center;
        align-items: center;
        padding: .5rem;

       
        .logo {
            height: 5rem;
            width: auto;
          
            font-size: 6rem;

        }

        ul {
            display:flex;
            flex:1;
            background: #333; 

            z-index: 4;
            list-style: none;
            margin: 0;
            padding: 0;
        
            li {
         
                display: inline-block;
                padding: .5rem 1.5rem;
                margin-left: 3.5rem;

              
                transition: all .2s ease;
                
                &:hover a {
                    color:$color-orange;
                }
            }

            font-size: 3.5rem;
            font-weight: 400;

            a {
                transition: all .3s ease-in-out;
                color: $color-cream-2;


                &:link,
                &:visited {
                    padding: .8rem;
                    text-decoration: none;
                    text-transform: uppercase;
                    letter-spacing: .3rem;
                }
            }
        }

        &--burger {
            .fas {
                display: none;
            }
        }
    }

    &-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-content: center;
        margin-top: 8rem;

        &--invitation {
            font-size: 2.5rem;
            width: 30vw;
            text-align: center;
            align-self: center;
            color: $color-white;
            font-weight: 400;
            letter-spacing: .2rem;
            @extend %bgc-transparent-2;

        }


        p:last-child {
            letter-spacing: .3rem;
        }
    }


    &-bee {
        img {
            position: absolute;
            top: 92%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 4rem;
            width: auto;
            background-color: transparent;
            animation: beeAnimation 1s ease-in-out infinite;
            z-index: 101;
        }
    }
}

@keyframes beeAnimation {
    0% {
        transform: translateY(-10px)
    }

    50% {
        transform: translateY(10px)
    }

    100% {
        transform: translateY(-10px)
    }
}

//sticky nav

body.fixed-nav nav {
    position: fixed;
    box-shadow: 0 5px 0 rgba(0,0,0,0.1);
    width:100%;
  }