section.offer {

    h2.offer__header {
        @extend %header;
    }


.offer__box {
    display: grid;
    justify-content: center;
   
   
    justify-items: center; // align-content: center;
    font-size: 3rem;
    color: $color-orange;
    @media only screen and (max-width: $bp-largest) {      font-size: 2.5rem;
    }
    @media only screen and (max-width: $bp-medium) {      font-size: 2rem;
    }

    th {
        background: $color-orange;
        color: $color-dark-orange-3;
        text-transform: uppercase;
        letter-spacing: .5rem;
        
        // font-family: inherit;

    }
    table {
        box-shadow: 5px 5px 0 rgba(0,0,0,0.1);
        border: 6px solid $color-cream;
       
        background: rgba(51,51,51, 9);
        color: $color-cream-2;
    }
  
    table,
    th,
    td {
        // padding: 1rem;
        border-collapse: collapse;
        padding: 1.5rem 3rem;
   
    border: 4px solid $color-cream;
   
       @media only screen and (max-width: $bp-largest) {       padding: 1rem 2.5rem;
       }
       @media only screen and (max-width: $bp-medium) {       padding: .8rem 2rem;
       }
       @media only screen and (max-width: $bp-small) {       padding: .5rem 1.5rem;
        border: 2px solid $color-cream;
       
       }
       @media only screen and (max-width: $bp-smallest) {       padding: .2rem .5rem;
        border: 2px solid $color-cream;
       
       }
    }
    
    .table-first,
    .table-second,
    .table-third {
        margin: 5rem;
         border-radius: 15%;
        @media only screen and (max-width: $bp-medium) {      margin: 3.5rem;
           
        }
        @media only screen and (max-width: $bp-small) {      margin: 2rem;
           
        }
    }

    .table-third {
       
        text-align: center;

    }
}
}