.offer {
    display: grid;
    justify-content: center;
    justify-items: center; // align-content: center;
    // background: rgba(51, 51, 51, .8);
    // background: #333;
    font-size: 3rem;
    color: $color-orange;
    // width: 60vw;
    // height: 100%;


    th {
        background: $color-cream-2;
        color: $color-cream-2;

    }



    table,
    th,
    td {
        padding: 1rem;
        border-collapse: collapse;
        padding: 1.5rem 3rem;
       @extend %bgc-transparent;
       border: 4px solid $color-cream-2;
    }

    .table-first {
        margin: 5rem;

    }

    .table-second {
        margin: 5rem;

    }

    .table-third {
        margin: 5rem;
        text-align: center;

    }
}