%hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

%btn {
    font-size: 2.5rem;
      letter-spacing: .3rem;
      font-family: inherit;
    //   width: 20rem;
      padding: 1.5rem;
      justify-self: center;
      border: none;
      text-transform: uppercase;
      background: $color-dark-orange;
      color: $color-cream;
      border-radius: 4px;
}

%paragraph {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: .3rem;
    color: $color-cream-2;
}

%bgc-transparent {
  background: rgba(51,51,51, 0.8);
  // border: 3px solid $color-cream-2;
}
%bgc-transparent-2 {
  background-image: linear-gradient(rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), url(../img/sm-bgc.png);
  z-index: 100;
  padding: .8rem;
  
  // border: 3px solid $color-cream-2;
}


